# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
df = pd.read_csv("weather_data.csv")
df.head()

,City,Lat,Lng,Temp,Hum,cloud,Win Speed,Country,Date
0,karakol,42.4907,78.3936,33.46,62,0,8.19,KG,1635602046
1,kloulklubed,7.0419,134.2556,83.28,79,100,13.82,PW,1635602046
2,butaritari,3.0707,172.7902,81.59,78,90,9.13,KI,1635602047
3,mahebourg,-20.4081,57.7000,78.26,69,40,11.50,MU,1635602048
4,sidlaghatta,13.3881,77.8628,76.89,91,100,6.02,IN,1635602049

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
gmaps.configure(api_key = g_key )
Location = df[['Lat','Lng']]
Weights = df['Hum']

In [16]:
heatmap = gmaps.figure(center=(10,-10), zoom_level =1)
layer1 = gmaps.heatmap_layer(Location, Weights, dissipating = False)
heatmap.add_layer(layer1)
heatmap

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [20]:
cities_df = df.loc[(df['Temp']>=30)&(df['Temp']<=80)&(df['Hum']<=91)&(df['cloud']<100)]
cities_df.head(10)

,City,Lat,Lng,Temp,Hum,cloud,Win Speed,Country,Date
0,karakol,42.4907,78.3936,33.46,62,0,8.19,KG,1635602046
3,mahebourg,-20.4081,57.7000,78.26,69,40,11.50,MU,1635602048
6,east london,-33.0153,27.9116,68.94,73,0,20.71,ZA,1635601832
9,ushuaia,-54.8000,-68.3000,46.06,49,0,19.57,AR,1635601794
10,coatbridge,55.8622,-4.0247,53.58,79,62,3.00,GB,1635602052
11,xining,36.6167,101.7667,39.49,55,97,6.60,CN,1635602053
13,tateyama,34.9833,139.8667,62.02,59,7,4.50,JP,1635602054
14,kapaa,22.0752,-159.3190,71.58,82,20,6.91,US,1635601814
18,grindavik,63.8424,-22.4338,45.07,81,0,5.75,IS,1635602056
19,siirt,37.9326,41.9403,59.14,82,75,3.44,TR,1635601695

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [28]:
#hotel_df = cities_df.loc['City','Country']
#hotel_df ['Hotel Name'] = " "
#hotel_df.head()

IndexingError: Too many indexers

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure